<h1>Help Welcome these Famililes to the United States</h1>

<div class="well">
  <div class="container">
    <div class="col-sm-6 photo">
      <%= image_tag @featured.photo_path, :class => "img-responsive center-block" %>
    </div>
    <div class="col-sm-4 details">
      <p><%= link_to "Learn more about the #{@featured.name} conflict", @featured.info_link, class: "center-block learn-more" %></p>
      <%= image_tag @featured.greeting, :class => "img-responsive center-block" %>
      <figcaption>Welcome to America</figcaption>
    </div>
  </div>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div>


<%= render 'shared/family_list' %>
