<h1>Dashboard</h1>
<div class="btn-group">
  <%= link_to "See my donations", donations_path, class: "btn btn-default" %>
  <%= link_to "Update my profile", edit_user_path(current_user), class: "btn button-indigo" %>
</div>
