<ul class="list-group">
  <% families.each do |family| %>
  <div class='col-md-6'>
    <li class="list-group-item"><%= link_to "#{family.nationality.name} Family of #{family.num_people}", family_path(family) %>: arriving in <%= days_from_today family.arrival_date %></li>
  </div>
  <% end %>
</ul>
