<ul>
  <% families.each do |family| %>
    <li><%= link_to "#{family.nationality.name} Family of #{family.num_people}", family_path(family) %>: arriving in <%= days_from_today family.arrival_date %></li>
  <% end %>
</ul>
