<div class="col-sm-6 col-sm-offset-1 photo">
  <%= image_tag photo, :class => "img-responsive center-block" %>
  <p> <%=  @family.description %> </p>
</div>

<div class="col-sm-4 details">

  <div class="greeting">
    <%= image_tag @family.nationality.greeting, :class => "img-responsive center-block" %>
    <p>Welcome to America</p>
  </div>

  <div class="learn-more">
    <%= link_to "Learn more about the #{@family.nationality.name} conflict", @family.nationality.info_link %>
  </div>
