<ul>
  <% @families.each do |family| %>
    <li><%= link_to "#{family.nationality.name} Family of #{family.num_people}", family_path(family) %>, arriving on <%= format_date family.arrival_date %></li>
  <% end %>
</ul>
