<h1>All Charities</h1>

<ul>
  <% @charities.each do |charity| %>
    <li><%= link_to charity.name, charity_path(charity.slug) %></li>
  <% end %>
</ul>

<% if current_user %>
  <%= button_to "Apply To Be One of Our Charities", new_charity_path, method: :get %>
<% end %>
