<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title text-center">Update Loan</h3>
      </div>

      <%= render partial: "form", locals: {action: "Update Loan"}  %>

    </div>
  </div>
</div>
