<% if charity_type %>
  <% charity_type.each do |charity| %>
  <div class="well col-sm-10 col-sm-offset-1">
    <div class="container">
      <div class="col-sm-5 families-box">
        <%= render partial: 'padmin_family_list', locals: {families: charity.families.active, current: true}%>
        <%= render partial: 'padmin_family_list', locals: {families: charity.families.retired, current: false}%>
      </div>
      </div>
    </div>
  <% end %>
<% end %>
